<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="card calendar-event">
                <div class="card-block bg-info overlay-dark">
                    <div class="text-center">
                        <h4>Today</h4>
                        <h1 class="font-size-65 text-light mrg-btm-5 lh-1">28<span class="font-size-18">th</span></h1>
                        <h2 class="no-mrg-top">Sunday</h2>
                    </div>
                </div>
                <div class="card-block">
                    <button type="button" class="add-event btn-warning" (click)="addEvent(calendarOptions)">
                        <i class="ti-plus"></i>
                    </button>
                    <ul class="event-list">
                        <li class="event-items" *ngFor="let event of calendarOptions.events">
                            <a href="javascript:void(0);" class="">
                                <span class="bullet {{event.bullet}}"></span>
                                <span class="event-name"> {{event.title}}</span>
                                <div class="event-detail">
                                    <span>{{event.start | date:"MMM dd"}} - {{event.end | date:"MMM dd"}}</span>
                                    <i>{{event.desc}}</i>
                                </div>
                            </a>
                            <a href="javascript:void(0);" (click)="removeEvent(index, calendarOptions)" class="remove">
                                <i class="ti-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
