<div class="app" [ngClass]="
    {
        'is-collapsed': app.layout.isMenuCollapsed,
        'is-opened': app.layout.isMenuOpened,
        'rtl' : app.layout.rtlActived
    }" *ngIf="isAuthenticated">
    <div class="layout" [ngClass]="headerSelected">
        <div [ngClass]="sidenavSelected">

            <!-- Side Nav START -->
            <div class="side-nav" sideBar>
                <div class="side-nav-inner">
                    <div class="side-nav-logo">
                        <a href="" [routerLink]="['/dashboard']">
                            <div class="logo logo-dark"
                                 style="background-image: url('assets/images/logo/logo-small.png')"></div>
                            <!--<div class="logo logo-white" style="background-image: url('assets/images/logo/logo-white.png')"></div>-->
                        </a>
                        <div class="mobile-toggle side-nav-toggle">
                            <a href="javascript:void(0);"
                               (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed">
                                <i class="ti-arrow-circle-left"></i>
                            </a>
                        </div>
                    </div>
                    <ul class="side-nav-menu scrollable">
                        <li clas="nav-item" routerLinkActive="active">
                            <a class="mrg-top-30" routerLinkActive="active" [routerLink]="['/dashboard']">
                                <span class="icon-holder">
                                    <i class="ei-home"></i>
                                </span>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>
                        <li clas="nav-item" routerLinkActive="active">
                            <a href="" [routerLink]="['/calendar']">
                                <span class="icon-holder">
                                    <i class="ei-calendar"></i>
                                </span>
                                <span class="title">Calendar</span>
                            </a>
                        </li>
                        <li clas="nav-item">
                            <a href="" [routerLink]="['/appointments']">
                                <span class="icon-holder">
                                    <i class="ei-time"></i>
                                </span>
                                <span class="title">Appointments</span>
                            </a>
                        </li>
                        <li clas="nav-item">
                            <a href="" [routerLink]="['/patients']">
                                <span class="icon-holder">
                                    <i class="ei-phone-book-contact"></i>
                                </span>
                                <span class="title">Pacients</span>
                            </a>
                        </li>
                        <li clas="nav-item">
                            <a href="" [routerLink]="['/team']">
                                <span class="icon-holder">
                                    <i class="ei-users"></i>
                                </span>
                                <span class="title">Team</span>
                            </a>
                        </li>

                        <li clas="nav-item">
                            <a href="" [routerLink]="['/notes']">
                                <span class="icon-holder">
                                    <i class="ei-file-edit"></i>
                                </span>
                                <span class="title">Note</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ei-speaker-alt"></i>
                                </span>
                                <span class="title">Materials</span>

                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a [routerLink]="['/materials/required']">Required materials</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/materials/equipments']">Equipments</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="ei-scheme"></i>
                                </span>
                                <span class="title">Options</span>

                                <span class="arrow">
                                    <i class="ti-angle-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a [routerLink]="['/options']">Settings</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/options/customize']">Customize inputs</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/options/financial']">Financial</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/options/statistics']">Statistics</a>
                                </li>
                                <li>
                                    <a [routerLink]="['/options/history']">History</a>
                                </li>
                            </ul>
                        </li>
                        <li clas="nav-item">
                            <a href="" [routerLink]="['/admin']">
                                <span class="icon-holder">
                                    <i class="ei-key"></i>
                                </span>
                                <span class="title">Admin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Side Nav END -->

            <!-- Page Container START -->
            <div class="page-container">

                <!-- Top Nav START -->
                <div class="header navbar">
                    <div class="header-container">
                        <ul class="nav-left">
                            <li>
                                <a class="side-nav-toggle" href="javascript:void(0);"
                                   (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed">
                                    <i class="ti-view-grid"></i>
                                </a>
                            </li>
                            <li class="search-box">
                                <a class="search-toggle no-pdd-right" href="javascript:void(0);">
                                    <i class="search-icon ti-search pdd-right-10"></i>
                                    <i class="search-icon-close ti-close pdd-right-10"></i>
                                </a>
                            </li>
                            <li class="search-input">
                                <input class="form-control" type="text" placeholder="Search...">
                                <div class="advanced-search">
                                    <div class="search-wrapper">
                                        <div class="pdd-vertical-10">
                                            <span class="display-block mrg-vertical-5 pdd-horizon-20 text-gray">
                                                <i class="ti-user pdd-right-5"></i>
                                                <span>People</span>
                                            </span>
                                            <ul class="list-unstyled list-info">
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/avatars/thumb-1.jpg"
                                                             alt="">
                                                        <div class="info">
                                                            <span class="title">Jordan Hurst</span>
                                                            <span class="sub-title">
                                                                <i class="ti-location-pin"></i>
                                                                <span>44 Shirley Ave. West Chicago</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/avatars/thumb-5.jpg"
                                                             alt="">
                                                        <div class="info">
                                                            <span class="title">Jennifer Watkins</span>
                                                            <span class="sub-title">
                                                                <i class="ti-location-pin"></i>
                                                                <span>514 S. Magnolia St. Orlando</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/avatars/thumb-4.jpg"
                                                             alt="">
                                                        <div class="info">
                                                            <span class="title">Michael Birch</span>
                                                            <span class="sub-title">
                                                                <i class="ti-location-pin"></i>
                                                                <span>70 Bowman St. South Windsor</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mrg-horizon-20 border top"></div>
                                        <div class="pdd-vertical-10">
                                            <span class="display-block mrg-vertical-5 pdd-horizon-20 text-gray">
                                                <i class="ti-rss pdd-right-5"></i>
                                                <span>Post</span>
                                            </span>
                                            <ul class="list-unstyled list-info">
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/img-1.jpg" alt="">
                                                        <div class="info">
                                                            <span class="title">Artoo expresses his relief</span>
                                                            <span class="sub-title">
                                                                <span>Oh, thank goodness we're coming out...</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <img class="thumb-img" src="assets/images/img-2.jpg" alt="">
                                                        <div class="info">
                                                            <span class="title">Ready for some power?</span>
                                                            <span class="sub-title">
                                                                <span>Lord Vader. You may take Caption So...</span>
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="search-footer">
                                        <span>You are Searching for '<b class="text-dark"><span
                                            class="serach-text-bind"></span></b>'</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="profile-img img-fluid" src="assets/images/user.jpg">
                                    <div class="user-info">
                                        <span class="name pdd-right-5">Dr. John Doe</span>
                                        <i class="ti-angle-down font-size-10"></i>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="">
                                            <i class="ti-settings pdd-right-10"></i>
                                            <span>Setting</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="ti-user pdd-right-10"></i>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="ti-email pdd-right-10"></i>
                                            <span>Inbox</span>
                                        </a>
                                    </li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="">
                                            <i class="ti-power-off pdd-right-10"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="notifications dropdown">
                                <span class="counter">2</span>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-bell"></i>
                                </a>
                                <ul class="dropdown-menu ">
                                    <li class="notice-header">
                                        <i class="ti-bell pdd-right-10"></i>
                                        <span>Notifications</span>
                                    </li>
                                    <ul [perfectScrollbar] class="list-info overflow-y-auto relative scrollable">
                                        <li>
                                            <a href="">
                                                <img class="thumb-img" src="assets/images/avatars/thumb-5.jpg" alt="">
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Jennifer Watkins</span>
                                                        <span class="text-gray">commented on your <span class="text-dark">post</span></span>
                                                    </span>
                                                    <span class="sub-title">5 mins ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img class="thumb-img" src="assets/images/avatars/thumb-4.jpg" alt="">
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Samuel Field</span>
                                                        <span class="text-gray">likes your <span class="text-dark">photo</span></span>
                                                    </span>
                                                    <span class="sub-title">8 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb-img bg-primary">
                                                        <span class="text-white">M</span>
                                                    </span>
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Michael Birch</span>
                                                        <span class="text-gray">likes your <span class="text-dark">photo</span></span>
                                                    </span>
                                                    <span class="sub-title">5 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb-img bg-success">
                                                    <span class="text-white"><i class="fa fa-paper-plane-o"></i></span>
                                                </span>
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Message sent</span>
                                                    </span>
                                                    <span class="sub-title">8 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb-img bg-info">
                                                    <span class="text-white"><i class="ti-user"></i></span>
                                                </span>
                                                <div class="info">
                                                    <span class="title">
                                                        <span class="font-size-14 text-semibold">Admin</span>
                                                        <span class="text-gray">Welcome on board</span>
                                                    </span>
                                                    <span class="sub-title">8 hours ago</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <li class="notice-footer">
                                        <span>
                                            <a href="" class="text-gray">Check all notifications <i class="ei-right-chevron pdd-left-5 font-size-10"></i></a>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="side-panel-toggle" href="javascript:void(0);"
                                   (click)="app.layout.sidePanelOpen = !app.layout.sidePanelOpen">
                                    <i class="ti-align-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Top Nav END -->

                <!-- Side Panel START -->
                <div class="side-panel" [ngClass]="{'side-panel-open' : app.layout.sidePanelOpen}">
                    <div class="side-panel-wrapper bg-white">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link" href="#tab1" role="tab" data-toggle="tab">
                                    <span>Quick</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab2" role="tab" data-toggle="tab">
                                    <span>Pacients</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab3" role="tab" data-toggle="tab">
                                    <span>Consults</span>
                                </a>
                            </li>

                            <li class="panel-close">
                                <a class="side-panel-toggle" href="javascript:void(0);"
                                   (click)="app.layout.sidePanelOpen = !app.layout.sidePanelOpen">
                                    <i class="ti-close"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" role="tabpanel" class="tab-pane fade  in active">
                                <div class="todo-wrapper">
                                    <div class="todo-category-wrapper">
                                        <div class="row mrg-btm-15">
                                            <div class="col-md-12">
                                                <h3 class="no-mrg-top">Consults</h3>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0);" class="todo-toggle">
                                            <div class="todo-category">
                                                <span class="amount">8</span>
                                                <span class="category">Today</span>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="todo-toggle">
                                            <div class="todo-category">
                                                <span class="amount">18</span>
                                                <span class="category">This Week</span>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="todo-toggle">
                                            <div class="todo-category">
                                                <span class="amount">28</span>
                                                <span class="category">This Month</span>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="todo-toggle">
                                            <div class="todo-category">
                                                <span class="amount">128</span>
                                                <span class="category">This year</span>
                                            </div>
                                        </a>

                                        <a href="javascript:void(0);" class="todo-toggle">
                                            <div class="create-category">
                                                <i class="amount ti-plus"></i>
                                                <span class="category">Add consult</span>
                                            </div>
                                        </a>
                                        <a href="javascript:void(0);" class="todo-toggle">
                                            <div class="create-category">
                                                <i class="amount ti-plus"></i>
                                                <span class="category">Add pacient</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                            <div id="tab2" role="tabpanel" class="tab-pane fade">
                                <div class="chat">
                                    <div class="chat-user-list scrollable">
                                        <div class="chat-section">
                                            <h5 class="chat-title">Last pacients added</h5>
                                            <a href="javascript:void(0);" class="chat-user chat-toggle" *ngFor="let pacient of headerThemes">
                                                <div class="user-info no-space">
                                                    <span class="user-name">Jordan Hurst (20 years old)</span>
                                                    <span class="prev-chat">Added 3 days ago</span>
                                                </div>

                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab3" role="tabpanel" class="tab-pane fade">
                                <div class="chat">
                                    <div class="chat-user-list scrollable">
                                        <div class="chat-section">
                                            <h5 class="chat-title">Last consults completed</h5>
                                            <a href="javascript:void(0);" class="chat-user chat-toggle" *ngFor="let pacient of headerThemes">
                                                <div class="user-info no-space">
                                                    <span class="user-name">Jordan Hurst (Extraction)</span>
                                                    <span class="prev-chat">0747 240 364</span>
                                                </div>

                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- Side Panel END -->

                <!-- Content Wrapper START -->
                <div class="main-content">
                    <router-outlet></router-outlet>
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © 2018</span>
                            <span class="go-right">
                                Version {{ version }}
                            </span>
                        </div>
                    </div>
                </footer>
                <!-- Footer END -->

            </div>
            <!-- Page Container END -->

        </div>
    </div>
</div>
