.authentication {

    .sign-in {
        .img-caption {
            position: absolute;
            bottom: 0px;
            left: 0px;
            padding: 30px;
            max-width: 600px;

            .caption-title {
                color: $theme-color;
                font-size: 35px;
                font-weight: 300;
                text-shadow: 1px 1px 2px $default-white;
            }

            .caption-text {
                color: $default-dark;
                text-shadow: 1px 1px 1px $default-white;
            }
        }

        .login-footer {
            position: absolute;
            bottom: 0px;
            padding: 15px 30px;
            border-top: 1px solid $border-color;
            width: 100%;
        }
    }
}
