
//--------------------------------------------------
// [Responsive]
//--------------------------------------------------

// usage : @include screen-desktop {...}
@mixin screen-desktop {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}

// usage : @include screen-laptop-above {...}
@mixin screen-laptop-above {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}

// usage : @include screen-laptop {...}
@mixin screen-laptop {
    @media only screen and (max-width: 1440px) {
        @content;
    }
}

// usage : @include screen-laptop-only {...}
@mixin screen-laptop-only {
    @media only screen and (min-width: 992px) and (max-width: 1440px)  {
        @content;
    }
}

// usage : @include screen-tablet-above {...}
@mixin screen-tablet-above {
    @media only screen and (min-width: 992px) {
        @content;
    }
}

// usage : @include screen-tablet {...}
@mixin screen-tablet {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

// usage : @include screen-mobile-above {...}
@mixin screen-mobile-above {
    @media only screen and (min-width: 767px) {
        @content;
    }
}

// usage : @include screen-mobile {...}
@mixin screen-mobile {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

// usage : @include print {...}
@mixin print {
    @media print {
        @content;
    }
}

//--------------------------------------------------
// [Transform]
//--------------------------------------------------

// usage : @include transform(translateX(-50%) translateY(-50%));
@mixin transform($transforms) {
    transform: $transforms;
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
}

//--------------------------------------------------
// [Transform Origin]
//--------------------------------------------------

// eg: @include transform-origin(left center);
@mixin transform-origin($val) {
    -webkit-transform-origin: $val;
    -moz-transform-origin: $val;
    -ms-transform-origin: $val;
    transform-origin: $val;
}

//--------------------------------------------------
// [Transition]
//--------------------------------------------------

// eg: @include transition(all 0.4s ease-in-out);
@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
}

//--------------------------------------------------
// [Box Shadow]
//--------------------------------------------------

// usage: @include box-shadow(0, 1px, 1px, rgba(0, 0, 0, 0.075), inset);
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

//--------------------------------------------------
// [Clearfix]
//--------------------------------------------------
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

//--------------------------------------------------
// [Background Color Opacity]
//--------------------------------------------------

// usage : @include background-opacity($default-dark, 0.5);
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

//--------------------------------------------------
// [Animation & Keyframe]
//--------------------------------------------------

// usage: @include keyframes(spin) {0% { transform: rotate(0); } 100% { transform: rotate(360deg); }}
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// usage: @include animation('spin 1.2s backwards infinite')
@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}


//--------------------------------------------------
// [Placeholder]
//--------------------------------------------------

// usage: @include placeholder {font-size: 10px;}
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}


//--------------------------------------------------
// [RGBA Background Opacity]
//--------------------------------------------------

// usage: @include bg-opacity($color-dark, .2);
@mixin bg-opacity($color, $opacity: 0.3) {
    background: rgba($color, $opacity);
}


//--------------------------------------------------
// [Grayscale]
//--------------------------------------------------

// usage: @include grayscale(100%);
@mixin grayscale($gray) {
    -webkit-filter: grayscale($gray);
    -moz-filter: grayscale($gray);
    filter: grayscale($gray);
}


//--------------------------------------------------
// [Blur]
//--------------------------------------------------

// usage: @include blur(5px);
@mixin blur($gray) {
    -webkit-filter: blur($gray);
    -moz-filter: blur($gray);
    filter: blur($gray);
}

@mixin funcBoxShadowMulti($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}

@mixin funcBoxShadowNone() {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

@mixin funcBoxSizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}
@mixin funcInputPlacholder($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::placeholder {
        color: $color;
    }
}

// Mixin itself
@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin funcKeyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }
    @-moz-keyframes #{$animation_name} {
        @content;
    }
    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin funcAnimation ($animation, $delay, $duration, $iteration_count) {
    -webkit-animation-name: $animation;
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration_count;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear;
    
    -moz-animation-name: $animation;
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-iteration-count: $iteration_count;
    -moz-animation-fill-mode: forwards;
    -moz-animation-timing-function: linear;
    
    animation-name: $animation;
    animation-delay: $delay;
    animation-duration: $duration;
    animation-iteration-count: $iteration_count;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
