// ------------------------------------------------------------------------
// ANIMATIONS
// -------------------------------------------------------------------------

$cgm-base-duration:         400ms;
$cgm-fast-duration:         200ms;
$cgm-slow-duration:         800ms;
$cgm-slower-duration:       1s;

// SINE = Almost no inertia, used on feather-light objects
$cgm-ease-inSine:           cubic-bezier(0.47, 0, 0.745, 0.715);
$cgm-ease-outSine:          cubic-bezier(0.39, 0.575, 0.565, 1);
$cgm-ease-inOutSine:        cubic-bezier(0.445, 0.05, 0.55, 0.95);

// CUBIC = Small inertia, used on regular objects
$cgm-ease-inCubic:          cubic-bezier(0.55, 0.055, 0.675, 0.19);
$cgm-ease-outCubic:         cubic-bezier(0.215, 0.61, 0.355, 1);
$cgm-ease-inOutCubic:       cubic-bezier(0.645, 0.045, 0.355, 1);

// QUART = Strong inertia, used on heavy objects
$cgm-ease-inQuart:          cubic-bezier(0.895, 0.03, 0.685, 0.22);
$cgm-ease-outQuart:         cubic-bezier(0.165, 0.84, 0.44, 1);
$cgm-ease-inOutQuart:       cubic-bezier(0.77, 0, 0.175, 1);

// EXPO = Some inertia but with a fast acceleration (for small & swift items)
$cgm-ease-inExpo:           cubic-bezier(0.95, 0.05, 0.795, 0.035);
$cgm-ease-outExpo:          cubic-bezier(0.19, 1, 0.22, 1);
$cgm-ease-inOutExpo:        cubic-bezier(1, 0, 0, 1);
