<div class="authentication">
    <div class="sign-in">
        <div class="row no-mrg-horizon">
            <div class="col-md-8 no-pdd-horizon d-none d-md-block">
                <div class="full-height bg bg-image">
                    <div class="logo logo--top"></div>
                    <div class="img-caption">
                        <h2 class="caption-title">Pacients manager!</h2>
                        <p class="caption-text">An easy way to organize your unit!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 no-pdd-horizon">
                <div class="full-height bg-white height-100">
                    <div class="vertical-align full-height pdd-horizon-70">
                        <div class="table-cell">
                            <div class="pdd-horizon-15">
                                <h2>Login</h2>
                                <p class="mrg-btm-25 font-size-13">Type your credentials</p>
                                <form (ngSubmit)="submit()" [formGroup]="loginForm" novalidate autocomplete="off">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username"
                                               formControlName="username" name="username" id="username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password"
                                               formControlName="password" name="password" id="password">
                                    </div>

                                    <p class="mrg-btm-25 font-size-13">Lost password? <a href="">Reset password</a></p>
                                    <button type="submit" class="btn btn-info"><i
                                        class="ti-angle-right pdd-right-5"></i> Login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="login-footer">
                        <img class="img-responsive inline-block" src="assets/images/logo/logo-small.png" width="100"
                             alt="">
                        <span class="font-size-13 pull-right pdd-top-5">No account? <a href="">Contact Us</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
