.authentication{
    .bg-image{
        background-image: url('/assets/images/others/bg.jpg');
    }

    .logo{
        background-image: url('/assets/images/logo/logo-regular.png');
        width: 260px;
        height: 71px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
}
