<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-5 col-md-12">
                            <h1 class="no-mrg-top font-size-30">7 JANUARY 2018</h1>
                            <h2 class="font-size-17">Hello, dr. John Doe. You have (<b>3</b>) appointments today!</h2>
                            <h2 class="font-size-17">Schedule: 08.00 - 14.00!</h2>
                        </div>
                        <div class="col-lg-5 col-md-8">
                            <h2 class="font-size-17">Unbooked periods:</h2>
                            <ul class="list-unbooked">
                                <li class="btn btn-danger btn-inverse">10.00 - 11.00</li>
                                <li class="btn btn-danger btn-inverse">12.30 - 13.00</li>
                                <li class="btn btn-danger btn-inverse">13.30 - 14.00</li>
                                <li class="btn btn-danger btn-inverse">15.30 - 16.00</li>
                                <li class="btn btn-danger btn-inverse">12.30 - 13.00</li>
                                <li class="btn btn-danger btn-inverse">13.30 - 14.00</li>
                                <li class="btn btn-danger btn-inverse">15.30 - 16.00</li>
                            </ul>
                        </div>

                        <div class="col-lg-2 col-md-8">
                            <a href="" class="btn btn-info btn-rounded btn-inverse pull-right">
                                <i class="ti-plus pdd-right-5"></i>
                                <span>Patient</span>
                            </a>
                            <a href="" class="btn btn-info btn-rounded btn-inverse  pull-right">
                                <i class="ti-plus pdd-right-5"></i>
                                <span>Consult</span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-heading">
                    <h4 class="card-title inline-block pdd-top-5">Today consults</h4>
                    <a href="" class="btn btn-default pull-right no-mrg btn-rounded">All</a>

                </div>
                <div class="pdd-horizon-20 pdd-vertical-5">
                    <div [perfectScrollbar] class="overflow-y-auto relative" style="height: 600px">
                        <table class="table table-lg table-hover">
                            <tbody>
                            <tr *ngFor="let consult of todaysConsults">
                                <td >
                                    <div class="list-info">
                                        <div class="info">
                                            <span class="title">Omusoru Eduard {{ consult }}</span>
                                            <span class="sub-title">0747 240 364</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="mrg-top-10">
                                        <span>20 y</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="mrg-top-10">
                                        <span>10.00 - 10.15</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="relative mrg-top-10">
                                        <span class="pdd-left-20">Extraction</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="relative">
                                        <a href="" class="btn btn-info btn-inverse btn-icon btn-rounded">
                                            <i class="ei-file-iso"></i>
                                            <span>File</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-block text-center">
                    <h3 class="text-gray">This month: 10000 RON <i class="ti-arrow-up text-success"></i></h3>
                    <hr />
                    <div class="mrg-top-40 mrg-btm-20">
                        <div id="bar-option-2"></div>
                    </div>
                    <h5 class="card-title">Last 10 days income</h5>
                </div>
            </div>
            <div class="widget card">
                <div class="card-block">
                    <h5 class="card-title">Month counter</h5>
                    <div class="row mrg-top-30">
                        <div class="col-md-4 col-sm-12 col-12 border right border-hide-md">
                            <div class="text-center pdd-vertical-10">
                                <h2 class="font-primary no-mrg-top">40</h2>
                                <p class="no-mrg-btm">Consults</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12 border right border-hide-md">
                            <div class="text-center pdd-vertical-10">
                                <h2 class="font-primary no-mrg-top">60</h2>
                                <p class="no-mrg-btm">Appointments</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-12">
                            <div class="text-center pdd-vertical-10">
                                <h2 class="font-primary no-mrg-top">50</h2>
                                <p class="no-mrg-btm">Pacients</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mrg-top-35">
                        <div class="col-md-12">
                            <canvas baseChart height="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
